// COLORS
$white-01: #ffffff;
$grey-01: #000000;
$grey-02: #E5E5E5;
$grey-03: #545454;
$grey-04: #777777;
$grey-05: #C4C4C4;
$grey-06: #636363;

// FONTS
$global-font-family: 'Roboto', sans-serif;
@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
	font-weight: 400;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Roboto';
	src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
	font-weight: 400;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Roboto';
	src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
	font-weight: 500;
	font-style: normal;
  }
  

.auhtorization-page{
	margin-top: 217px;
	*, *::before, *::after  {
			box-sizing: border-box;
		} 
		
		body, p, h1, h2, h3, h4, h5, h6, ul, li {
			margin: 0;
			padding: 0;
		}
		
		ul {
			list-style: none;
		}
		
		a {
			text-decoration: none;
		}
}
.auhtorization-button {
	background: $grey-03;
	border: none;
	border-radius: 100px;
	height: 40px;
	width: 342px;
	font: 500 14px/16px 'Roboto', sans-serif;
	letter-spacing: 0em;
	text-align: center;
	color: $white-01;
}
.form {

	display: flex;
	justify-content: center;
	align-items: center;

	&_inner {
		width: 342px;
		height: 388px;
	}

	&_title {
		font: 400 24px/28px $global-font-family;
		letter-spacing: 0;
		text-align: center;
		color: $grey-01;
		margin-top: 120px;
	}

	&_login {
		margin-top: 36px;
	}

	&_label {
		font: 400 12px/14px $global-font-family;
		letter-spacing: 0;
		text-align: left;
		color: $grey-01;
	}

	&_password, &_password_submit {
		margin-top: 34px;
	}

	&_input {
		height: 40px;
		width: 342px;
		background: $grey-02;
		border: none;
	}

	&_password {
		position: relative;
	}
}

.submit {

	&_form {
		padding-top: 24px;
	}
}

.password {

	&_forgot {
		position: relative; 
		text-align: right;
	}

	&_link {
		font: 400 12px/14px $global-font-family;
		letter-spacing: 0;
		text-align: right;
		color: $grey-04;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.check {
	position: relative;
	display: none;
}

.label_check {
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(../img/close.png) center no-repeat;
	background-size: 100%;
	height: 24px;
	width: 24px;
}

.input_help {
	position: relative;
}

.help {

	&_label {
		position: absolute;
		top: 30px;
		right: -35px;
		background: url(../img/help_circle.svg) center no-repeat;
		height: 20px;
		width: 20px;
		font-size: 0;
	}

	&_article {
		margin-bottom: 10px;
	}

	&_strong {
		font-weight: 700;
	}

	&_content {
		padding: 6px 11px 11px;
		border-radius: 8px;
		background-color: $grey-05;
		display: none;
		color: $grey-06;
		font: 400 9px/11px $global-font-family;
		letter-spacing: 0;
		text-align: left;
		position: absolute;
		top: 25px;
		right: -180px;
		width: 136px;
		height: 221px;
	}

	&_check {
		display: none;
	}
}

.attention {
	margin-top: 4px;
	font: italic 400 12px/16px $global-font-family;
	letter-spacing: 0;
	text-align: left;
	color: $grey-01;


	&::before {
		content: "";
		display: inline-block;
		width: 16px;
		height: 14px;
		background: url(../img/icon_attention.svg) no-repeat ;
		background-size: cover 3.5%;
		vertical-align: top;
	}
}

#password_check:checked ~ .label_check {
	background: url(../img/open.png) center no-repeat;
	background-size: 100%;
	height: 24px;
	width: 24px;
}

#submit_check:checked ~ .label_check {
	background: url(../img/open.png) center no-repeat;
	background-size: 100%;
	height: 24px;
	width: 24px;
}

#help_check:checked ~ .help_content {
	display: block;
}