
.main-page{  
    margin: 0;
    padding: 0;
    height: 100vh;
    background: $colorBgHeader;
    display: flex;
    .secondary{
        position: fixed;
        right: 0;
        width: 80%;
        height: 100vh;
    }
    *{
        display: flex;
        font-family: 'Roboto', sans-serif;
        color: $colorText;
    }
    .primary{
        position: fixed;
        width: 20%;      //размер поставил пока примерно
        height: 100vh;
        .blur{
            width: 100%;
            background: rgba(0,0,0,.4);
            position: absolute;
            z-index: 910;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            backdrop-filter: blur(3px);
        }
        .primary-menu{
            background-color: $colorBg;
            justify-content: center;
            width: 100%;
            .primary-menu-container{
                width: 220px;
                height: 650px;
                margin-top: 49px;
                align-items: center;
                flex-direction: column;
                width: 220px;
                position: absolute;
                .menu-buttons-container{
                    justify-content: space-between;
                    width: 220px;
                    margin-bottom: 36px;
                    .menu-button{
                        align-items: center;
                        justify-content: center;
                        width: 98px;
                        height: 24px;
                        color: $colorPrimary;
                        border-radius: 15px;
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: 400;
                        user-select: none; 
                    }
                }
                .avatar{
                    width: 220px;
                    height: 220px;
                    background: $colorBgHeader;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 27px;
                    .avatar-img{
                        width: 220px;
                        height: 220px;
                    }
                    .edit_avatar{
                        position: absolute;
                        left: 225px;
                        
                    }                        
                }
                .personal-data{
                    width: 220px;
                    flex-direction: column;
                    .full-name-container{
                        justify-content: space-between;
                        .full-name{
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 19px;
                            overflow: hidden;
                        }
                    }
                    .email{
                        font-size: 12px;
                        line-height: 14px;
                        text-decoration-line: underline;
                        color: $colorPrimary;
                        margin-bottom: 24px;
                        overflow: hidden;
                    }
                    .username-block{
                        justify-content: space-between;
                        margin-bottom: 12px;
                        .circle{
                            width: 24px;
                            height: 24px;
                            background: rgba(196, 196, 196, 0.56);
                            border-radius: 15px;
                            margin-right: 8px;
                        }
                        .username-block__content{
                            font-size: 12px;
                            height: 24px;
                            align-items: center;
                            overflow: hidden;
                        }
                        input{
                            background: $colorBgHeader;
                            outline: none;
                            border: none;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-left: 6px;
                            padding-right: 6px;
                        }                            
                    }
                }
                .setting-buttons-container{
                    margin-top: 24px;
                    align-items: center;
                    flex-direction: column;
                    .setting-button{
                        background-color: $colorBgHeader;
                        font-size: 12px;
                        border: 1px solid $colorPrimary;
                        border-radius: 15px;
                        width: 220px;
                        height: 32px;
                        align-items: center;
                        justify-content: center;
                        user-select: none;
                        margin-bottom: 15px; 
                    }
                    .admin-button{
                        margin-top: 21px;
                        background: $colorSecond;
                        border: none;
                    }             

                }
            }
        }
    }
    .devider{
        border: 1px solid $borderColor;
    }
}
