@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



@mixin flex($flexDir, $jc, $alignI, $wrap){
    display: flex;
    flex-direction: $flexDir;
    justify-content: $jc;
    align-items: $alignI;
    flex-wrap: $wrap;
}
@mixin font($weight, $size, $hei, $textT:none){
    font-weight: $weight;
    font-size: $size;
    line-height: $hei;
    text-transform: $textT;
}

.page{
    a {
        text-decoration: none;
    }
    a,
    button{
        cursor: pointer;
    }
    ul,
    ul li {
        list-style: none;
    }

    form,
    p,
    a,
    button,
    input,
    ol,
    ul,
    li, 
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding: 0;
      color: inherit;
    }

    @include flex(row, flex-start, stretch, nowrap);
    padding: 0 0 0 16px;
    background-color: $colorBg;
    height: 100vh;
    color: $colorText;
    .avatar{
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
    }
    .page-sidebar{
        @include flex(column, flex-start, center, nowrap);
        min-width: 135px;
        width: 135px;
        background-color: $colorPrimary;
        padding-top: 30px;
        .logo{
            margin-bottom: 20px;
            height: 40px;
        }
        &__exit{
            @include flex(row, center, center, nowrap);
            width: 91px;
            height: 40px;
            border-radius: 100px;
            margin-bottom: 24px;
            color: $colorBgHeader;
            @include font(500, 14px, 20px);
        }
        &__menu{

            &-item{
                
                height: 98px;
                width: 100%;
                color: $colorBgHeader;
                @include font(500, 20px, 23px);


            }
            &-link.router-link-exact-active{
                background-color: $colorPrimaryHover;
            }
            &-link{
                width: 100%;
                height: 100%;
                @include flex(row, center, center, nowrap);
                span{
                    text-align: center;
                    justify-content: center;
                    width: 90%;
                }
            }
        }
        .avatar{
            width: 93px;
            height: 93px;
            margin-bottom: 28px;
        }

    }
    .line{
        height: 100vh;
        max-height: 100vh;
        width: calc(100% - 167px);
        padding: 40px 16px 0px 24px;
        @include flex(row, space-between, flex-start, nowrap);
        .post,
        .addpost,
        .side__info,
        .side__user,
        .rating__header,
        .rating__title,
        .rating__item{
            background-color: $colorBgHeader;
        }
        .line-main{
            width: 70.8%;
            max-height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 4px;
                height: 166px;
            }            
            /* Track */
            &::-webkit-scrollbar-track {
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: $colorPrimary50;
            }
            .addpost{
                margin-bottom: 24px;
                padding: 42px 32px;
                @include flex(row, flex-start, center, nowrap);
                .avatar{
                    width: 44px;
                    height: 44px;
                    margin-right: 20px;
                }
                .addpost__form{
                    border-radius: 5px;
                    width: calc(100% - 64px);
                    @include flex(row, flex-start, center, nowrap);
                    background-color: $colorBg;
                    .addpost__text-wrap{
                        width: calc(100% - 80px);
                        .addpost__text{
                            cursor: text;
                            width: 100%;
                            min-height: 40px;
                            padding: 10px;
                        }
                        
                        .addpost__text:focus{
                            outline: none;
                            padding: 10px;
                        }
                    }
                    .addpost__files{
                        @include flex(row, center, center, nowrap);
                        cursor: pointer;
                        overflow: hidden;
                        position: relative;
                        width: 40px;
                        height: 40px;
                        &-input{
                            cursor: pointer;
                            opacity: .0;
                            position: absolute;
                            z-index: 10;
                            margin: 0;
                            padding: 0;
                            top: 0;
                            right: 0;
                        }
                    }
                    &-btn{
                        width: 40px;
                        height: 40px;
                        border: none;
                        border-radius: 0 5px  5px 0;
                    }
                }
            }
            .post{
                margin-bottom: 24px;
                padding: 32px;
                &__header{
                    @include flex(row, space-between, center, nowrap);
                    margin-bottom: 12px;
                    .post__author{
                        @include flex(row, flex-start, center, nowrap);
                        &-name{
                            @include font(700, 14px, 16px);
                            margin-bottom: 4px;
                        }
                        .post__date{
                            @include font(400, 12px, 14px);
                            color: $colorPrimary;
                            &-main{
                                margin-right: 8px;
                            }
                        }
                    }
                    .avatar{
                        width: 66px;
                        height: 66px;
                        margin-right: 16px;
                        
                    }
                    .post__settings{
                        @include flex(row, flex-start, center, nowrap);
                        .post__likes{
                            cursor: pointer;
                            margin-right: 24px;
                            text-align: center;
                            &-icon{
                                width: 20px;
                                height: 18px;
                            }
                            &-amount{
                                color: $colorPrimary;
                                @include font(500, 13px, 15px);
                            }
                        }
                        .post__menu{
                            position: relative;
                            width: 21px;
                            height: 21px;
                            background-color: inherit;
                            border-radius: 100%;
                            cursor: pointer;
                            transition: background-color 1s;  
                            &-img{
                                @include flex(row, center, center, nowrap);
                                width: 21px;
                                height: 21px;
                                border-radius: 100%;    
                            }
                            &-item{
                                width: 176px;
                                padding: 9px 14px;
                                @include font(500, 12px, 14px);
                                background-color: $colorBgHeader;
                                color: $colorPrimary;
                            }
                            &-item:first-child{
                                border-radius: 5px 5px 0px 0px;
                            }
                            &-item:last-child{
                                border-radius: 0px 0px 5px 5px;
                            }
                            &-item:not(:last-child){
                                border-bottom: 1px solid $colorBg;
                            }
                            &-item:hover{
                                background-color: $colorBg;
                            }
                            .post__menu-listwrap{
                                padding-top: 12px;
                                padding-right: 10px;
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                right: -100%;
                                top: 100%;  
                                transition: all 1s;                          
                            }
                            &-list{
                                filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.25));
                            }
                        }
                        .post__menu:hover{
                            background-color: $colorBg;
                            cursor: pointer;
                        }
                        .post__menu-listwrap.visible{
                            visibility: visible;
                            opacity: 1;   
                            right: -10px;                       
                        }
                    }
                }
                &__main{

                    .post__text{
                        max-height: unset;
                        overflow: hidden;
                        @include font(400, 14px, 20px);
                        &-paragraph:not(:last-child){
                            margin-bottom: 12px;
                        }
                    }
                    .post__text.close{
                        max-height: 192px;
                    }
                    .post__text-show{
                        margin-top: 12px;
                        color:$colorSecond;
                        @include font(500, 14px, 16px);
                        cursor: pointer;
                    }
                    .post__report{
                        @include flex(row, space-between, center, nowrap);
                        &-goals,
                        &-todos{
                            width: 48%;
                            height: 213px;
                            overflow-x: hidden;
                            overflow-y: hidden;
                            padding: 16px 20px;
                            border: 1px solid #BCC0C9;
                            border-radius: 4px;
                            .post__report-title{
                                color: $colorPrimary;
                                @include font(500, 16px, 20px);
                                margin-bottom: 18px;
                            }
                            .post__report-list{
                                @include font(400, 12px, 14px);
                                
                            }
                            .post__report-item:not(:last-child){
                                margin-bottom: 15px;
                            }
                            .post__report-item{
                                list-style-position: inside;  
                                .item_name{
                                    @include font(700, 12px, 14px);
                                }
                            }
                            .post__report-item::marker{
                                @include font(700, 12px, 14px);
                            }
                        }
                        &-goals:hover,
                        &-todos:hover{
                            overflow-y: auto;
                            box-shadow: 0px 2px 16px rgba(5, 13, 165, 0.25);
                            &::-webkit-scrollbar {
                                width: 4px;
                                height: 166px;
                            }            
                            /* Track */
                            &::-webkit-scrollbar-track {
                                -webkit-border-radius: 10px;
                                border-radius: 10px;
                            }            
                            /* Handle */
                            &::-webkit-scrollbar-thumb {
                                -webkit-border-radius: 10px;
                                border-radius: 10px;
                                background: $colorPrimary50;
                            }

                        }
                    }
                    

                    .post__photo-list{
                        @include flex(row, space-between, center, nowrap);
                        margin-top: 24px;
                        .post__photo-item{
                            width: 48%;
                            height: 213px;
                            background-color: $colorBg;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: cover;
                            position: relative;
                            cursor: pointer;
                        }
                    }
                    .post__files-list{
                        @include flex(row, flex-start, center, nowrap);
                        margin-top: 24px;
                        .post__files-item{
                            width: 33%;
                            // height: 48px;
                            border: 1px solid $colorPrimary;
                            border-radius: 5px;
                            .post__download{
                                @include flex(row, space-between, center, nowrap);
                                padding: 12px;
                                @include font(400, 14px, 20px);
                            }
                        }
                        .post__files-item:not(:nth-child(n+3)){
                            margin-right: 24px;

                        }
                    }

                }
                &__comments{
                    margin: 32px 0px 0px 64px;
                    .avatar{
                        width: 30px;
                        height: 30px;
                        margin-right: 16px;   
                    }
                    .post__comments-list{
                        max-height: unset;
                        overflow: hidden;
                    }
                    .post__comments-list.close{
                        max-height: 100px;
                    }
                    .post__comments-item{
                        @include flex(row, flex-start, center, nowrap);
                        @include font(400, 14px, 20px);
                        .comment{
                            width: calc(100% - 46px);
                        }
                    }
                    .post__comments-item:not(:last-child){
                        margin-bottom: 24px;
                    }
                    .post__comments-show{
                        margin-top: 20px;
                        margin-left: 46px;
                        color:$colorSecond;
                        @include font(500, 14px, 16px);
                        cursor: pointer;
                    }
                }
                &__add-comment{
                    padding: 24px 0px 28px 0px;
                    @include flex(row, flex-start, center, nowrap);
                    .avatar{
                        width: 44px;
                        height: 44px;
                        margin-right: 20px;
                        
                    }
                    .post__form{
                        border-radius: 5px;
                        width: calc(100% - 64px);
                        @include flex(row, flex-start, center, nowrap);
                        background-color: $colorBg;
                        .post__addtext-wrap{
                            width: calc(100% - 40px);
                            .post__addtext{
                                cursor: text;
                                width: 100%;
                                min-height: 40px;
                                padding: 10px;
                            }
                            
                            .post__addtext:focus{
                                outline: none;
                                padding: 10px;
                            }
                        }
                        &-btn{
                            width: 40px;
                            height: 40px;
                            border: none;
                            border-radius: 0 5px  5px 0;
                        }
                    }
                }



            

            }
            
        }
        .line-info{
            width: 27%;
            .side{
                margin-bottom: 24px;
                &__info,
                &__user{
                    padding: 20px 24px;
                }
                &__info{
                    border-bottom: 1px solid $colorSecond;
                    color: $colorPrimary;
                    &-name{
                        @include font(500, 18px, 21px);
                        margin-bottom: 5px;
                    }
                    &-date{
                        @include font(400, 12px, 14px);


                    }
                }
                &__user{
                    @include flex(row, flex-start, center, nowrap);
                    .avatar{
                        width: 39px;
                        height: 39px;
                        margin-right: 12px;
                    }
                    &-name{
                        width: calc(100% - 51px);
                        @include font(500, 14px, 16px);
                    }
                }
            }
            .rating{
                max-height: 447px; 
                overflow-x: hidden;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 4px;
                    height: 166px;
                }            
                /* Track */
                &::-webkit-scrollbar-track {
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                }            
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                    background: $colorPrimary50;
                }
                &__header,
                &__title,
                .rating__item:not(:last-child){
                    border-bottom: 1px solid $colorSecond;
                }
                &__header{
                    padding: 14px 20px;
                    @include font(500, 18px, 21px);   
                    color: $colorPrimary;
                }
                &__title{
                    @include flex(row, space-between, center, nowrap);
                    padding: 10px 20px;
                    @include font(500, 14px, 20px);   
                }
                &__list{
                    @include font(400, 14px, 16px);  
                    .avatar{
                        width: 39px;
                        height: 39px;
                        margin-right: 8px;
                    }
                    .rating__item{
                        padding: 15px 20px;
                        @include flex(row, space-between, center, nowrap);
                        
                    }
                    .rating__user{
                        @include flex(row, flex-start, center, nowrap);
                        &-name{
                            width: calc(100% - 47px);
                        }
                        &-rate{
                            color: $colorPrimary;
                            background-color: $colorBg;
                            border-radius: 15px;
                            padding: 1px 8px;
                        }
                    }
                }
            }
            
        }
    }

   
}
