.avatar-window{   
    input{
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0;
    }
    width: 340px;
    height: 396px;
    background: $colorBgHeader;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        flex-direction: column;
    }
    .avatar-requirements{
        width: 220px;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        .avatar-requirements-info{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 188px;
            height: 126px;
            font-size: 12px;
            line-height: 14px;
            color: $colorPrimary;
        }
        .decor{
            position: absolute;
            width: 80px;
            height: 80px;
            border: 2px solid $borderColor;
        }
        .decor-left-top{
            top: 60px;
            left: 60px;
            border-bottom: none;
            border-right: none;
            border-top-left-radius: 10px;
        }
        .decor-left-bottom{
            top: 196px;
            left: 60px;
            border-top: none;
            border-right: none;
            border-bottom-left-radius: 10px;
        }
        .decor-right-top{
            top: 60px;
            left: 196px;
            border-bottom: none;
            border-left: none;
            border-top-right-radius: 10px;
        }
        .decor-right-bottom{
            top: 196px;
            left: 196px;
            border-top: none;
            border-left: none;
            border-bottom-right-radius: 10px;
        }
    }
    .load-button{
        width: 220px;
        height: 32px;
        border: 1px solid $colorPrimary;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        line-height: 15px;
        user-select: none;
        margin-top: 24px;
    }
} 