.edit_fullname-window{
    width: 372px;
    height: 290px;
    background-color: $colorBgHeader;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    * {
        width: 342px;				
    }
    .info-block{
        width: 262px;
        height: 14px;
        font-size: 12px;
        line-height: 14px;
        color: $colorPrimary;
    }
    input{
        max-width: 238px;
        margin-top: 4px;
        margin-bottom: 18px;
        height: 40px;
        background: $colorBg;
        outline: none;
        border: none;
        padding-left: 12px;
        padding-right: 12px;
    }
    .save-fullname-button{
        background: $colorPrimary;
        border-radius: 100px;
        margin-top: 12px;
        width: 262px;
        height: 30px;
        font-size: 13px;
        line-height: 15px;
        @extend %display-center;
        color:$colorBgHeader;
        user-select: none;  
    }

}		