.modal-backdrop{
    background: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 900;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    backdrop-filter: blur(3px);
    .modal-content{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .cross {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 14px;
            top: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }   
    }
}
  