.calendar-page{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #F3F1F1;
    display: flex;
    *{
        display: flex
    }
    .page-sidebar__menu{
        flex-direction: column;
    }
    .calendar-wrapper{
        width: 100vw;
        margin-bottom: 16px;     
        align-items: center;
        flex-direction: column;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 12px;
        }            
        /* Track */
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }            
        /* Handle */
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #C4C4C4;; 
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }
    }    
}