.reports-wrapper{
    .fill-report-block{
        width: 1079px;
        align-items: center;
        flex-direction: column;
        .header{
            height: 28px;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
        }
        .info-message{
            justify-content: center;
            margin-top: 36px;
            width: 376px;
            height: 16px;
            font-size: 14px;
            line-height: 16px;
            color: #8C8C8C;

        }
        .report-header{
            margin-top: 39px;
        }
        .report-wrapper{
            margin-top: 16px;
            width: 1079px;
            min-height: 439px;
            background: #FFFFFF;
            border-radius: 5px;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
            .reports{
                width: 1033px;
                height: 331px;
                margin-top: 24px;
                margin-bottom: 20px;
                justify-content: space-between;
                .reports-item-wrapper{
                    width: 327px;
                    height: 331px;
                    border: 1px solid #B5B5B5;
                    box-sizing: border-box;
                    border-radius: 5px;
                    align-items: center;
                    justify-content: center;
                    .reports-item{
                        flex-direction: column;
                        width: 287px;
                        height: 291px;
                        .reports-item-header{
                            flex-direction: column;
                            .heading{
                                height: 21px;
                                justify-content: space-between;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 21px;
                                margin-bottom: 8px;
                                .pencil{
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                            .heading-message{
                                font-size: 12px;
                                height: 14px;
                                line-height: 14px;
                                color: #757575;
                            }
                        }
                        .reports-content{
                            margin-top: 23px;
                            width: 287px;
                            height: 220px;
                            display: block;
                            overflow-y: auto;
                            overflow-x: hidden;

                            &::-webkit-scrollbar {
                                width: 5px;
                            }            
                            /* Track */
                            &::-webkit-scrollbar-track {
                                -webkit-border-radius: 10px;
                                border-radius: 10px;
                            }            
                            /* Handle */
                            &::-webkit-scrollbar-thumb {
                                -webkit-border-radius: 10px;
                                border-radius: 10px;
                                background: $colorPrimary50;
                            }

                            .reports-content__item{
                                width: 287px;
                                height: 48px;
                                font-size: 14px;
                                line-height: 20px;
                                overflow: hidden;
                                flex-direction: column;
                                padding: 5px;
                                padding-right: 10px;
                                margin-bottom: 5px;
                                .goal{
                                    height: 20px;
                                    font-weight: 500;
                                }
                                .report{
                                    height: 20px;
                                    padding-right: 10px;
                                    overflow: hidden;
                                }
                            }
                            .strikethrough {
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
            
            .reports-footer{
                position: relative;

                input{
                    width: 0;
                    height: 0;
                    opacity: 0;
                    margin: 0;
                }

                .sendreport-button{
                    width: 204px;
                    height: 40px;
                    background: $colorPrimary;
                    border-radius: 100px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                }

                .alert-message{
                    display: block;
                    position: absolute;
                    font-size: 12px;
                    font-weight: 500;
                    color: red;
                    top: 45px;
                    left: 50%;
                    transform:translateX(-50%);
                    width: 500px;
                    text-align: center;
                    display: inline;
                }

                label{
                    position: absolute;
                    left: -60px;
                    padding: 0;

                    .counter{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background: #3E378D;
                        color: #FFFFFF;
                        font-weight: bold;
                        font-size: 10px;
                        line-height: 12px;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        left: 18px;
                        top: 0;
                    }
                }
            }    
        }
    }


    .report-sent-block{
        width: 1079px;
        // height: 844px;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
        background: #FFFFFF;
        border-radius: 5px;
        .thankyou-message{
            margin-top: 32px;
            margin-bottom: 24px;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #3E378D;
        }
        .report-sent-block__body{
            width: 648px;
            // height: 728px;
            margin-bottom: 40px;
            border: 1px solid #BCC0C9;
            box-sizing: border-box;
            border-radius: 5px;
            align-items: center;
            flex-direction: column;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 7px;
            }          
            /* Track */
            &::-webkit-scrollbar-track {
                margin-top: 84px;
                margin-bottom: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: #C4C4C4;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            }
            .report-sent-block__body-header{
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                color: #3E378D;
                margin-top: 24px;
                margin-bottom: 32px;
            }
            .report-sent-block__body-content{
                flex-direction: column;
                .content-container{
                    margin-bottom: 36px;
                    width: 584px;
                    max-height: 44px;
                    overflow: hidden;
                }
            }
        }
    }    
}