.button {
	background: $grey-03;
	border: none;
	border-radius: 100px;
	height: 40px;
	width: 342px;
	font: 500 14px/16px 'Roboto', sans-serif;
	letter-spacing: 0em;
	text-align: center;
	color: $white-01;
}