.form {

	display: flex;
	justify-content: center;
	align-items: center;

	&_inner {
		width: 342px;
		height: 388px;
	}

	&_title {
		font: 400 24px/28px $global-font-family;
		letter-spacing: 0em;
		text-align: center;
		color: $grey-01;
		margin-top: 120px;
	}

	&_login {
		margin-top: 36px;
	}

	&_label {
		font: 400 12px/14px $global-font-family;
		letter-spacing: 0em;
		text-align: left;
		color: $grey-01;
	}

	&_password, &_password_submit {
		margin-top: 34px;
	}

	&_input {
		height: 40px;
		width: 342px;
		background: $grey-02;
		border: none;
	}

	&_password {
		position: relative;
	}
}

.submit {

	&_form {
		padding-top: 24px;
	}
}

.password {

	&_forgot {
		position: relative; 
		text-align: right;
	}

	&_link {
		font: 400 12px/14px $global-font-family;
		letter-spacing: 0em;
		text-align: right;
		color: $grey-04;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.check {
	position: relative;
	display: none;
}

.label_check {
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(../images/close.png) center no-repeat;
	background-size: 100%;
	height: 24px;
	width: 24px;
}

.input_help {
	position: relative;
}

.help {

	&_label {
		position: absolute;
		top: 30px;
		right: -35px;
		background: url(../images/help_circle.svg) center no-repeat;
		height: 20px;
		width: 20px;
		font-size: 0;
	}

	&_article {
		margin-bottom: 10px;
	}

	&_strong {
		font-weight: 700;
	}

	&_content {
		padding: 6px 11px 11px;
		border-radius: 8px;
		background-color: $grey-05;
		display: none;
		color: $grey-06;
		font: 400 9px/11px $global-font-family;
		letter-spacing: 0em;
		text-align: left;
		position: absolute;
		top: 25px;
		right: -180px;
		width: 136px;
		height: 221px;
	}

	&_check {
		display: none;
	}
}

.attention {
	margin-top: 4px;
	font: italic 400 12px/14px $global-font-family;
	letter-spacing: 0em;
	text-align: left;
	color: $grey-01;
	padding-left: 20px;
	background: url(../images/icon_attention.svg) no-repeat ;
	background-size: 3.5%;
}

#password_check:checked ~ .label_check {
	background: url(../images/open.png) center no-repeat;
	background-size: 100%;
	height: 24px;
	width: 24px;
}

#submit_check:checked ~ .label_check {
	background: url(../images/open.png) center no-repeat;
	background-size: 100%;
	height: 24px;
	width: 24px;
}

#help_check:checked ~ .help_content {
	display: block;
}