.edit-report{
    width: 1081px;
    height: 439px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    .edit-report__left{
        margin: 44px;
        width: 250px;
        flex-direction: column;
        color: #3E378D;
        .edit-report__left-head{
            width: 250px;
            height: 28px;
            font-weight: bold;
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 8px;
        }
        .edit-report__left-general{
            width: 232px;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 18px;
        }
        .edit-report__left-button{
            width: 204px;
            height: 40px;
            background: #3E378D;
            border-radius: 100px;
            color: #FFFFFF;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .edit-report__right{
        margin: 44px 10px 44px 0;
        .edit-report__right-wrapper{
            width: 734px;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 4px;
            }          
            /* Track */
            &::-webkit-scrollbar-track {
                margin-top: 10px;
                margin-bottom: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: #C4C4C4;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            }
            .today-list__container{
                height: 63px;
                width: 700px;
                position: relative;
                flex-direction: column;
                .task-description{
                    align-items: center;
                    margin: 13px 0 12px;
                    height: 37px;
                    .content{
                        width: 584px;
                        font-size: 14px;
                        line-height: 20px;
                        color: #09032E;
                        overflow: hidden;
                    }
                }
                .checkbox{
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    border: 1px solid #C2BCE5;
                    box-sizing: border-box;
                    right: 0;
                    top: 13px;
                }
                .checked{
                    background: #C2BCE5;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 18px;
                        height: 18px;
                    }
                }
                .line{
                    height: 1px;
                    width: 700px;
                    background: #BCC0C9;
                }
            }
            .goal__container{
                .goal__container-wrapper{
                    height: 76px;
                    width: 700px;
                    margin-bottom: 12px;
                    flex-direction: column;
                    .goal-name{
                        padding-left: 8px;
                        height: 20px;
                        margin-bottom: 4px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #09032E;
                    }
                    input{
                        width: 700px;
                        height: 52px;
                        background: #F2F1F1;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                        padding-left: 12px;
                        padding-right: 12px;
                        font-size: 14px;
                        line-height: 16px;
                    }
                    input::placeholder {
                        color: #BCC0C9;
                    }
                }    
            }
            .tomorrow-list__container{
                margin-bottom: 12px;
                width: 700px;
                position: relative;
                .taskIndex{
                    font-size: 14px;
                    line-height: 16px;
                    position: absolute;
                    top: 20px;
                    left: 12px;
                }
                input{
                    width: 700px;
                    height: 52px;
                    background: #F2F1F1;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    padding-left: 30px;
                    padding-right: 12px;
                    font-size: 14px;
                    line-height: 16px;
                }
                input::placeholder {
                    color: #BCC0C9;
                }
            }
            .add-task{
                width: 204px;
                height: 40px;
                background: $colorSecond;
                border-radius: 100px;
                color: #3E378D;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}