.change-password-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .return-link {
        cursor: pointer;
        position: absolute;
        left: 30px;
        top: 30px;
        font-weight: bold;
        font-size: 24px;
        color: #3E378D;
    }

    .change-password-container {
        margin-top: 108px;
        flex-direction: column;
        align-items: center;

        .change-password-header {
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #3E378D;
            margin-bottom: 40px;
        }

        .change-password-input {
            display: flex;
            flex-direction: column;
            width: 374px;
            margin-bottom: 36px;
            position: relative;

            .eye{
                width: 24px;
                height: 24px;
                position: absolute;
                right: 8px;
                top: 27px;
                img{
                    position: absolute;
                }
            }

            .input-header {
                margin-bottom: 4px;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #3E378D;
            }

            input {
                padding: 12px;
                background: #F4F5F8;
                border-radius: 5px;
                outline: none;
                border: none;
            }

            .input-basement {
                margin-top: 4px;
                justify-content: space-between;

                .input-basement__left {
                    font-style: italic;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    color: #FC916F;

                    img{
                        height: 14px;
                        width: 14px;
                        margin-right: 4px;
                    }
                }

                .input-basement__right {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    color: #3E378D;
                    cursor: pointer;
                }

            }
        }

        .change-password-button {
            width: 204px;
            height: 40px;
            background: #3E378D;
            border-radius: 100px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
        }
    }
}