.coach-page{
    *{
        display: flex;
        font-family: 'Roboto', sans-serif;
        color: $colorText;
    }
    width: 100%;
    align-items: center;
    flex-direction: column;

    .coach-header{
        margin-top: 49px;
        margin-bottom: 49px;
        padding-right: 32px;
        justify-content: center;

        .start-game-button{
            align-items: center;
            justify-content: center;
            user-select: none;
            background: $colorSecond;
            border-radius: 23.5px;
            min-width: 215px;
            height: 32px;
            margin-bottom: 47px;
            position: relative;
        }

        .coach-info{
            align-self: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            max-width: 450px;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            position: absolute;
            right: 65px;
            top: 45px;

            & div{
                color: $colorPrimary;
            }
            
            div{
                align-self: flex-end;
            }
        }
    }

    .games-header {
        margin-top: 49px;
        margin-bottom: 49px;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #3E378D;
    }
}