.coach-page{
    *{
        display: flex;
        font-family: 'Roboto', sans-serif;
        color: #000000;
    }
    width: 100%;
    align-items: center;
    flex-direction: column;
    .coach-header{
        margin-top: 49px;
        margin-bottom: 49px;
        width: 675px;
        height: 142px;
        padding-right: 32px;
        justify-content: center;
        .start-game-button{
            align-items: center;
            justify-content: center;
            user-select: none;
            background: #C4C4C4;
            border-radius: 23.5px;
            width: 215px;
            height: 32px;
            margin-bottom: 47px;
            position: relative;
        }
        .coach-info{
            align-self: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            max-width: 450px;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            position: absolute;
            right: 65px;
            top: 131px;
            div{
                align-self: flex-end;
            }
        }
    }
}