.games-main{
    *{
        display: flex;
        font-family: 'Roboto', sans-serif;
        color: $colorText;
    }
    flex-direction: column;
    // max-height: 641px;
    max-height: 800px;
    width: 90%;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 12px;
    }         
    /* Track */
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }            
    /* Handle */
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: $colorPrimary50;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    .game{        
        height: 187px;
        margin-bottom: 40px;
        justify-content: space-between;
        .photo{
            width: 183px;
            height: 187px;
            background: $colorBg;
        }
        .game-button{
            width: 100px;
            height: 32px;
            align-items: center;
            justify-content: center;
            border: 1px solid $colorPrimary;
            box-sizing: border-box;
            border-radius: 100px;
            font-size: 12px;
            user-select: none;
        }
        .game-info-left{
            width: 220px;
            margin-left: 39px;
            flex-direction: column;
            .game-info-left__name{
                align-items: center;
                height: 28px;
                font-weight: bold;
                font-size: 24px;
                margin-bottom: 8px;
                color: $colorPrimary;
            }
            .game-info-left__description{
                height: 21px;
                font-size: 18px;
                color: $colorPrimary;
                margin-bottom: 22px;
            }
            .game-info-left__mentor{
                height: 22px;
                margin-bottom: 9px;
                align-items: center;
                .mentor-title{
                    margin-right: 8px;
                    font-size: 12px;
                }
                .mentor{
                    height: 14px;
                    background: $colorSecond;
                    border-radius: 15px;
                    align-items: center;
                    justify-content: center;
                    padding: 4px 8px 4px 8px;
                    font-size: 12px;
                }
            }
            .game-info-left__coach{
                height: 22px;
                margin-bottom: 23px;
                align-items: center;
                .coach-title{
                    margin-right: 8px;
                    font-size: 12px;
                }
                .coach{
                    height: 14px;
                    background:$colorSecond;
                    border-radius: 15px;
                    align-items: center;
                    justify-content: center;
                    padding: 4px 8px 4px 8px;
                    font-size: 12px;
                }
            }
            .game-info-left__buttons{
                justify-content: space-between;
            }
        }
        .game-info-right{
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            width: 157px;
            margin-left: 76px;
            .info{
                margin-top: 36px;
                flex-direction: column;
                align-items: flex-end;
                .info-block{
                    margin-bottom: 4px;
                    .title{
                        font-weight: 400;
                        font-size: 10px;
                        margin-right: 4px;
                        color: $colorPrimary;
                    }
                    .content{
                        font-weight: 500;
                        font-size: 12px;
                        color: $colorPrimary;
                    }
                }
            }
        }
    }
}