.language-selector {

	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding: 10px 20px;
	}

	&__link {
		text-decoration: none;

		&:first-child {
			margin-right: 15px;
		}
	}
}