* {
  box-sizing: border-box;
}

body, p, h1-h6, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.eot");
  src: url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic.svg#Roboto-Italic") format("svg"), url("../fonts/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_inner {
  width: 342px;
  height: 388px;
}

.form_title {
  font: 400 24px/28px "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-top: 120px;
}

.form_login {
  margin-top: 36px;
}

.form_label {
  font: 400 12px/14px "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.form_password, .form_password_submit {
  margin-top: 34px;
}

.form_input {
  height: 40px;
  width: 342px;
  background: #E5E5E5;
  border: none;
}

.form_password {
  position: relative;
}

.submit_form {
  padding-top: 24px;
}

.password_forgot {
  position: relative;
  text-align: right;
}

.password_link {
  font: 400 12px/14px "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: right;
  color: #777777;
  position: absolute;
  right: 0;
  bottom: 0;
}

.check {
  position: relative;
  display: none;
}

.label_check {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../images/close.png) center no-repeat;
  background-size: 100%;
  height: 24px;
  width: 24px;
}

.input_help {
  position: relative;
}

.help_label {
  position: absolute;
  top: 30px;
  right: -35px;
  background: url(../images/help_circle.svg) center no-repeat;
  height: 20px;
  width: 20px;
  font-size: 0;
}

.help_article {
  margin-bottom: 10px;
}

.help_strong {
  font-weight: 700;
}

.help_content {
  padding: 6px 11px 11px;
  border-radius: 8px;
  background-color: #C4C4C4;
  display: none;
  color: #636363;
  font: 400 9px/11px "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 25px;
  right: -180px;
  width: 136px;
  height: 221px;
}

.help_check {
  display: none;
}

.attention {
  margin-top: 4px;
  font: italic 400 12px/14px "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  padding-left: 20px;
  background: url(../images/icon_attention.svg) no-repeat;
  background-size: 3.5%;
}

#password_check:checked ~ .label_check {
  background: url(../images/open.png) center no-repeat;
  background-size: 100%;
  height: 24px;
  width: 24px;
}

#submit_check:checked ~ .label_check {
  background: url(../images/open.png) center no-repeat;
  background-size: 100%;
  height: 24px;
  width: 24px;
}

#help_check:checked ~ .help_content {
  display: block;
}

.button {
  background: #545454;
  border: none;
  border-radius: 100px;
  height: 40px;
  width: 342px;
  font: 500 14px/16px 'Roboto', sans-serif;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
