@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$colorBgHeader: #FFFFFF; 
$colorBg: #F4F5F8; 
$colorError:  #FC916F; 
$colorPrimary: #3E378D; 
$colorPrimary50:  rgba(62, 55, 141, 0.5); 
$colorPrimaryHover: #201E6A; 
$colorPrimaryDis: #C6C4D2; 
$colorSecond: #C2BCE5; 
$colorSecondHover: #9F92EE; 
$colorSecondDis: #EAE8F4; 
$colorText: #09032E;
$borderColor: #BCC0C9;
$colorActive: #F0D267; 
$colorDone: #8AD468; 

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%;
  }
  *, *::before, *::after{
    box-sizing: border-box;
  }
  *:focus,
  *:active,
  *:hover{
    box-sizing: border-box;
    outline: none;
}


body{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Roboto', sans-serif;
}

.basic-buttons{
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

//pencil img
.pencil{
    user-select: none;
    cursor: pointer;
    width: 15px;
    height: 15px; 
}